.filter-container {
    padding: 0 0.5em;
}

.filter-list {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter-list-item {
    padding-right: 1em;
    margin: 0.25em 0;
}