.manage-content {
    margin-left: 1em;
}

.product-detail-img {
    display: block;
    width: 192px;
    height: 192px;
    border-radius: 16px;
}

.manage-content p label {
    display: inline-block;
    line-height: 2.5em;
    height: 2.5em;
    min-width: 12em;
}

.table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

.table th,td {
    .order-card-status {
        margin: 0 0.5em;
        font-size: 10pt;
    }
    padding: 0.5em 1em;
    border: solid 1px #808080;
}

.table tr:nth-child(odd) {
    background-color: #E0E0E0;
}

.manager-comment-list {
    padding: 1em;
}

.manager-comment-card {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 24px;
    background-color: white;
}

.manager-comment-card-info {
    padding-left: 1em;
}

.manager-comment-card-info p {
    margin: 0.25em;
}

.manager-comment-card-info p label {
    width: 10em;
}