.order-list-container {
    padding: 1em;
}

.order-card {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 24px;
    background-color: white;
}

.order-card-status {
    margin: 0 0.5em;
    font-size: 10pt;
}

.order-card-product-list {
    color: #808080;
}

.order-card-product-list ul {
    margin: 0.5em 0;
    padding: 0 2.5em;
}

.order-card-product-price {
    float: right;
}

.order-card-product-count {
    display: inline-block;
    width: 2em;
}

.order-card-info {
    margin: 0.5em 0;
    padding-left: 1em;
}

.order-card-info p {
    margin: 0;
}

.order-card-info p label {
    width: 10em;
}

.order-card-status-completed {
    color: #60d050;
}

.order-card-status-cancelled {
    color: #ff3f3f;
}